a(href="/") home 
<form method="POST" action="/new">
    label(for="text") text:
    input(type="text" name="text")
    br
    label(for="user") user:
    input(type="text" name="user")
    br
    button(type="submit") submit
</form>